/*
footer {
	display:block;
}
*/

img[src$='#centered'] {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

img[src$='#floatright']
{
	float:right;
}

img[src$='#floatleft']
{
	float:left;
}

html {
	min-height:100%;
	width:100%;
	position:relative;
}

body {
	background-color: rgb(249,249,249);
	color: #484848;
}

.nav-menu {
	/*box-shadow: 0 1px 1px rgba(0,0,0, 0.10);*/
	border-bottom: 1px solid #e3e3e3;
}

.header {
	text-align: left;
	color: #484848;
	margin-bottom: .5em;
}

.header .desktop ul {
	float: right;
}
.header ul li {
		height: auto;
}

.header ul li a {
	font-weight: bold;
	color: #484848;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header .site-title {
	font-weight: bold;
	color: #484848;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pull-right {
	float: right;
}

.posts-name {
	text-transform: capitalize;
	font-weight: bold;
	padding-left: 1em;
	margin-top: 1em;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.posts {
	font-family: verdana,arial,helvetica,sans-serif;
	list-style-type:none;
	padding-left: 1em;
}

.posts li p{
	margin-top: 0;
}

.posts li {
	margin-bottom: 1em;
}

.posts li a {
	color:#369;
	text-decoration:none;
}


.footnote {
	font-family: verdana,arial,helvetica,sans-serif;
	color:#888;
	font-size:x-small;
	margin-bottom:0;
}

.footnote a {
	color: #888 !important
}

.footnote a:hover{
	text-decoration:underline;
	color:#369;
}

.footer {
	position:absolute;
	z-index:2;
	height:auto;
	width:100%;
	bottom:0;
}


.footer-content {
	border-top: 1px solid #e3e3e3;
}

.footer-content a {
	font-size: 80%;
	color: #bbb;
}

.footer-content ul {
	height: auto;
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
	padding-left: 0;
}

#gototop-btn {
	display: inline-block;
	color: #bbb;
	font-size: 80%;
}

#foot-name {
	text-transform: none;
	font-size: 80%;
	color: #bbb;
}

.post {
	font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	color:#484848;
	letter-spacing:normal;
	padding-left: .5em;
}

.post h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	letter-spacing:normal;
}

.post-content {
	z-index:9;
	overflow:auto;
	padding:0;
	padding-bottom:3em;
	font-size:16px;
	line-height:1.4;
}

.post a {
	color:#c05b4d;
	text-decoration: none;
}

.post a:hover {
	color:#a5473a;
	text-decoration: underline;
}

.post h1 {
	font-size:28px;
}

.post h2 {
	font-size:25px;
}

.post h3 {
	font-size:23px;
}

.post h4 {
	font-size:21px;
}

.post h5 {
	font-size:19px;
}

.post h6 {
	font-size:18px;
}

.post-title{
		margin-top: 0;
		margin-bottom: 2em;
}

.post-title h1 {
	font-weight:bold;
	font-size:39px;
	line-height: 40px;
	margin-top: 0;
	margin-bottom: 0;
}


@media screen and (max-width:767px){
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
	#toggle-btn {
		display: inline-block;
		float: right;
		padding: .5em 1em;
		text-decoration: none;
		color: #484848;
		font-weight: bold;
	}
	#toggle-content li {
		clear: both;
		height: auto;
		background-color: rgb(249,249,249);
	}
	#toggle-home {
		display: inline-block;
	}
}

@media screen and (min-width:768px){
	.mobile {
		display:none;
	}
	.desktop {
		display: block;
	}
}
